{% extends '::base.html.twig' %} {# extend basic template #}

{% block body %} {# override block body #}
    <p>Hello, <i>{{ name }}</i>. Let me congratulate you because you've created your first Symfony 2 page!</p>
{% endblock %}